@import "~bootstrap/dist/css/bootstrap.min.css";
.tittle {
  font-size: 50px;
  text-align: center;
}
body {
  background-color: aquamarine;
  margin: 5px;
  padding: 5px;
  margin-top: 3px;
}
.input {
  margin-top: 5px;
}
